<!-- Your Account Personal Information -->

<div class="container">
	<div class="row">
		<div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Chat / Messages</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/assets/icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>

				
				<div class="row">
					<div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12 padding-r-0">
						<div class="chats">
							<perfect-scrollbar>
								<ul class="notification-list chat-message">
									<li>
										<div class="author-thumb">
											<img src="/assets/img/avatar8-sm.jpg" alt="author">
										</div>
										<div class="notification-event">
											<a href="#" class="h6 notification-friend">Mahira Khan</a>
											<span class="chat-message-item">Hi Hassan! It’s Mahira, I just wanted to let you know that we have to reschedule...</span>
											<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
										</div>
											<span class="notification-icon">
												<svg class="olymp-chat---messages-icon"><use xlink:href="/assets/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
											</span>

										<div class="more">
											<svg class="olymp-three-dots-icon"><use xlink:href="/assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
										</div>
									</li>

									<li>
										<div class="author-thumb">
											<img src="/assets/img/avatar9-sm.jpg" alt="author">
										</div>
										<div class="notification-event">
											<a href="#" class="h6 notification-friend">Jake Parker</a>
											<span class="chat-message-item">Great, I’ll see you tomorrow!.</span>
											<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
										</div>
											<span class="notification-icon">
												<svg class="olymp-chat---messages-icon"><use xlink:href="/assets/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
											</span>

										<div class="more">
											<svg class="olymp-three-dots-icon"><use xlink:href="/assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
										</div>
									</li>

									<li>
										<div class="author-thumb">
											<img src="/assets/img/avatar39-sm.jpg" alt="author">
										</div>
										<div class="notification-event">
											<a href="#" class="h6 notification-friend">Naeem Khan</a>
											<span class="chat-message-item">Hello did you get my message tomorrow, i am waiting for your reply!.</span>
											<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
										</div>
											<span class="notification-icon">
												<svg class="olymp-chat---messages-icon"><use xlink:href="/assets/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
											</span>

										<div class="more">
											<svg class="olymp-three-dots-icon"><use xlink:href="/assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
										</div>
									</li>
					
									<li>
										<div class="author-thumb">
											<img src="/assets/img/avatar40-sm.jpg" alt="author">
										</div>
										<div class="notification-event">
											<a href="#" class="h6 notification-friend">Ahmad Ali</a>
											<span class="chat-message-item">Did you really went to that coldplay concert, it must have been great!.</span>
											<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
										</div>
											<span class="notification-icon">
												<svg class="olymp-chat---messages-icon"><use xlink:href="/assets/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
											</span>

										<div class="more">
											<svg class="olymp-three-dots-icon"><use xlink:href="/assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
										</div>
									</li>
					
									<li>
										<div class="author-thumb">
											<img src="/assets/img/avatar10-sm.jpg" alt="author">
										</div>
										<div class="notification-event">
											<a href="#" class="h6 notification-friend">Maya Ali</a>
											<span class="chat-message-item">We’ll have to check that at the office and see if the client is on board with...</span>
											<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 9:56pm</time></span>
										</div>
										<span class="notification-icon">
											<svg class="olymp-chat---messages-icon"><use xlink:href="/assets/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
										</span>
										<div class="more">
											<svg class="olymp-three-dots-icon"><use xlink:href="/assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
										</div>
									</li>

									<li class="chat-group">
										<div class="author-thumb">
											<img src="/assets/img/avatar11-sm.jpg" alt="author">
											<img src="/assets/img/avatar12-sm.jpg" alt="author">
											<img src="/assets/img/avatar13-sm.jpg" alt="author">
											<img src="/assets/img/avatar10-sm.jpg" alt="author">
										</div>
										<div class="notification-event">
											<a href="#" class="h6 notification-friend">You, Ali, Haider & Maryam +3</a>
											<span class="last-message-author">ALi:</span>
											<span class="chat-message-item">Yeah! Seems fine by me!</span>
											<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 16th at 10:23am</time></span>
										</div>
										<span class="notification-icon">
											<svg class="olymp-chat---messages-icon"><use xlink:href="/assets/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
										</span>
										<div class="more">
											<svg class="olymp-three-dots-icon"><use xlink:href="/assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
										</div>
									</li>
								</ul>
							</perfect-scrollbar>
						</div>	
					</div>

					<div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12 padding-l-0">
						<div class="chat-field">
							<div class="ui-block-title">
								<h6 class="title">Maya Ali</h6>
								<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/assets/icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
							</div>
							<perfect-scrollbar>
								<ul class="notification-list chat-message chat-message-field">
									<li>
										<div class="author-thumb">
											<img src="/assets/img/avatar10-sm.jpg" alt="author">
										</div>
										<div class="notification-event">
											<a href="#" class="h6 notification-friend">Maya Ali</a>
											<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
											<span class="chat-message-item">Hi hassan, How are your doing? Please remember that next week we are going to Gotham Bar to celebrate Marina’s Birthday.</span>
										</div>
									</li>

									<li>
										<div class="author-thumb">
											<img src="/assets/img/author-page.jpg" alt="author">
										</div>
										<div class="notification-event">
											<a href="#" class="h6 notification-friend">Hassan Ahmad</a>
											<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:30pm</time></span>
										<span class="chat-message-item">Hi Maya! I have a question, do you think that tomorrow we could talk to
											the client to iron out some details before the presentation? I already finished the first screen but
											I need to ask him something before moving on. Anyway, here’s a preview!
										</span>
											<div class="added-photos">
												<img src="/assets/img/photo-message1.jpg" alt="photo">
												<img src="/assets/img/photo-message2.jpg" alt="photo">
												<span class="photos-name">icons.jpeg; bunny.jpeg</span>
											</div>
										</div>
									</li>

									<li>
										<div class="author-thumb">
											<img src="/assets/img/avatar10-sm.jpg" alt="author">
										</div>
										<div class="notification-event">
											<a href="#" class="h6 notification-friend">Maya Ali</a>
											<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 9:56pm</time></span>
											<span class="chat-message-item">We’ll have to check that at the office and see if the client is on board with it. I think That looks really good!</span>
										</div>
									</li>
								</ul>
							</perfect-scrollbar>

							<form>

								<!-- <div class="form-group label-floating is-empty">
									<label class="control-label">Write your reply here...</label>
									<textarea emoji-input [(ngModel)]="message" name="message" (setPopupAction)="setPopupAction($event)" class="form-control" placeholder=""  ></textarea>
								</div> -->

								<div class="form-group label-floating" [ngClass]="{'is-empty': message === ''}">
									<emoji-input [(model)]="message" [textArea]="{}" 
									[inputClass]="'form-control'" [searchClass]="'yello-emoji-search'"
									[popupAnchor]="'bottom'" (setPopupAction)="setPopupAction($event)">
									</emoji-input>
									<label class="control-label">Write your reply here...</label>
								</div>

								<div class="add-options-message">
									<a href="#" class="options-message">
										<svg class="olymp-computer-icon"><use xlink:href="/assets/icons/icons.svg#olymp-computer-icon"></use></svg>
									</a>
									<a class="options-message smile-block" (click)="openPopup(true)">
										<svg class="olymp-happy-sticker-icon"><use xlink:href="/assets/icons/icons.svg#olymp-happy-sticker-icon"></use></svg>
									</a>

									<button class="btn btn-primary btn-sm">Post Reply</button>
								</div>

							</form>

						</div>
					</div>
				</div>

			</div>
    </div>

    <!-- Account Profile Sidebar -->
	<div class="col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-xs-12 responsive-display-none">
      <app-account-sidebar-large></app-account-sidebar-large>
    </div>
    
    <!-- ... end Account Profile Sidebar -->
    
	</div>
</div>

<!-- ... end Your Account Messages -->