<div class="container">
	<div class="row">
		<div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Friend Requests</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/assets/icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>

				<ul class="notification-list friend-requests">
					<li *ngFor="let request of friendRequests">
						<div class="author-thumb">
							<img src="/assets/img/avatar15-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<a [routerLink]="['/profile', request.sender, 'about']" class="h6 notification-friend">{{request.sender}}</a>
							<!-- <span class="chat-message-item">Mutual Friend: Huma Ali</span> -->
						</div>
						<span class="notification-icon">
							<a class="accept-request" *ngIf="request.status === 'pending'" (click)="acceptFriendRequest(request)">
								<span class="icon-add">
									<svg class="olymp-happy-face-icon"><use xlink:href="/assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
								</span>
								Accept Friend Request
							</a>

							<a class="accept-request request-del" *ngIf="request.status === 'pending'" (click)="declineFriendRequest(request)">
								<span class="icon-minus">
									<svg class="olymp-happy-face-icon"><use xlink:href="/assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
								</span>
							</a>
              <svg class="olymp-happy-face-icon" *ngIf="request.status === 'accepted'"><use xlink:href="/assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
            </span>

						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="/assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
							<svg class="olymp-little-delete"><use xlink:href="/assets/icons/icons.svg#olymp-little-delete"></use></svg>
						</div>
					</li>

					<!-- <li>
						<div class="author-thumb">
							<img src="/assets/img/avatar16-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<a href="#" class="h6 notification-friend">Haider Ali</a>
							<span class="chat-message-item">4 Friends in Common</span>
						</div>
						<span class="notification-icon">
							<a href="#" class="accept-request">
								<span class="icon-add">
									<svg class="olymp-happy-face-icon"><use xlink:href="/assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
								</span>
								Accept Friend Request
							</a>

							<a href="#" class="accept-request request-del">
								<span class="icon-minus">
									<svg class="olymp-happy-face-icon"><use xlink:href="/assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
								</span>
							</a>

						</span>

						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="/assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
							<svg class="olymp-little-delete"><use xlink:href="/assets/icons/icons.svg#olymp-little-delete"></use></svg>
						</div>
					</li>

					<li class="accepted">
						<div class="author-thumb">
							<img src="/assets/img/avatar17-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							You and <a href="#" class="h6 notification-friend">Mahira Khan</a> just became friends. Write on <a href="#" class="notification-link">his wall</a>.
						</div>
						<span class="notification-icon">
							<svg class="olymp-happy-face-icon"><use xlink:href="/assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
						</span>

						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="/assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
							<svg class="olymp-little-delete"><use xlink:href="/assets/icons/icons.svg#olymp-little-delete"></use></svg>
						</div>
					</li>

					<li>
						<div class="author-thumb">
							<img src="/assets/img/avatar18-sm.jpg" alt="author">
						</div>
						<div class="notification-event">
							<a href="#" class="h6 notification-friend">Stagg Clothing</a>
							<span class="chat-message-item">9 Friends in Common</span>
						</div>
						<span class="notification-icon">
							<a href="#" class="accept-request">
								<span class="icon-add">
									<svg class="olymp-happy-face-icon"><use xlink:href="/assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
								</span>
								Accept Friend Request
							</a>

							<a href="#" class="accept-request request-del">
								<span class="icon-minus">
									<svg class="olymp-happy-face-icon"><use xlink:href="/assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
								</span>
							</a>

						</span>

						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="/assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
							<svg class="olymp-little-delete"><use xlink:href="/assets/icons/icons.svg#olymp-little-delete"></use></svg>
						</div>
					</li> -->

				</ul>

			</div>

		</div>

		<!-- Account Profile Sidebar -->
    <div class="col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-xs-12 responsive-display-none">
      <app-account-sidebar-large></app-account-sidebar-large>
    </div>

    <!-- ... end Account Profile Sidebar -->
	</div>
</div>
