<div class="container">
	<div class="row">
		<div class="col-xl-8 order-xl-2 col-lg-8 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Hobbies and Interests</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>
				<div class="ui-block-content">
					<div class="row" *ngIf="this.hobbiesAndInterests">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<ul class="widget w-personal-info item-block">
								<li>
									<span class="title">Hobbies:</span>
                  <span class="text">{{this.hobbiesAndInterests.hobbies}}</span>
								</li>
								<li>
									<span class="title">Favourite TV Shows:</span>
									<span class="text">{{this.hobbiesAndInterests.favTV}}</span>
								</li>
								<li>
									<span class="title">Favourite Movies:</span>
									<span class="text">{{this.hobbiesAndInterests.favMovies}} </span>
								</li>
								<li>
									<span class="title">Favourite Games:</span>
									<span class="text">{{this.hobbiesAndInterests.favGames}} </span>
								</li>
							</ul>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<ul class="widget w-personal-info item-block">
								<li>
									<span class="title">Favourite Music Bands / Artists:</span>
									<span class="text">{{this.hobbiesAndInterests.favMusic}}</span>
								</li>
								<li>
									<span class="title">Favourite Books:</span>
									<span class="text">{{this.hobbiesAndInterests.favBooks}}</span>
								</li>
								<li>
									<span class="title">Favourite Writers:</span>
									<span class="text">{{this.hobbiesAndInterests.favWriters}} </span>
								</li>
								<li>
									<span class="title">Other Interests:</span>
									<span class="text">{{this.hobbiesAndInterests.otherInterests}}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Education and Employement</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>
				<div class="ui-block-content">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="this.educations">
							<ul class="widget w-personal-info item-block">
								<li *ngFor="let edu of this.educations">
									<span class="title">{{edu.title}}</span>
									<span class="date">{{edu.time}}</span>
									<span class="text">{{edu.description}}</span>
								</li>
							</ul>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="this.employments">
							<ul class="widget w-personal-info item-block">
								<li *ngFor="let emp of this.employments">
									<span class="title">{{emp.title}}</span>
									<span class="date">{{emp.time}}</span>
									<span class="text">{{emp.description}}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 order-xl-1 col-lg-4 order-lg-1 col-md-12 order-md-2 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Personal Info</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>
				<div class="ui-block-content">
					<ul class="widget w-personal-info" *ngIf="this.personalInfo">
						<li>
							<span class="title">About Me:</span>
							<span class="text">{{this.personalInfo.description}}
							</span>
						</li>
						<li>
							<span class="title">Birthday:</span>
							<span class="text" *ngIf="this.personalInfo.birthday">{{this.personalInfo.birthday.day}}/{{this.personalInfo.birthday.month}}/{{this.personalInfo.birthday.year}}</span>
						</li>
						<li>
							<span class="title">Birthplace:</span>
							<span class="text">{{this.personalInfo.birthplace}}</span>
						</li>
						<li>
							<span class="title">Lives in:</span>
							<span class="text">{{this.personalInfo.city}}, {{this.personalInfo.country}}</span>
						</li>
						<li>
							<span class="title">Occupation:</span>
							<span class="text">{{this.personalInfo.occupation}}</span>
						</li>
						<li>
							<span class="title">Joined:</span>
							<span class="text" *ngIf="this.userData">{{this.userData.joinedAt}}</span>
						</li>
						<li>
							<span class="title">Gender:</span>
							<span class="text" *ngIf="this.userData">{{this.userData.gender}}</span>
						</li>
						<li>
							<span class="title">Status:</span>
							<span class="text">{{this.personalInfo.status}}</span>
						</li>
						<li>
							<span class="title">Website:</span>
							<a href="#" class="text">{{this.personalInfo.website}}</a>
						</li>
						<li>
							<span class="title">Phone Number:</span>
							<span class="text">{{this.personalInfo.phone}}</span>
						</li>
						<li>
							<span class="title">Religious Beliefs:</span>
							<span class="text">{{this.personalInfo.religion}}</span>
						</li>
						<li>
							<span class="title">Political Incline:</span>
							<span class="text">{{this.personalInfo.politicalincline}}</span>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</div>
