<div class="container">
	<div class="row">
		<div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Your Education History</h6>
				</div>
				<div class="ui-block-content">
					<form>
						<div class="row" *ngFor="let education of educations let index = index;">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="form-group label-floating" [ngClass]="{'is-empty' :education.title === ''}">
									<label class="control-label">Title or Place</label>
									<input class="form-control" placeholder="" type="text" name="title-{{index}}" [(ngModel)]="educations[index].title">
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="form-group label-floating" [ngClass]="{'is-empty' :education.time === ''}">
									<label class="control-label">Period of Time</label>
									<input class="form-control" placeholder="" type="text" name="time-{{index}}" [(ngModel)]="educations[index].time">
								</div>
							</div>

							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group label-floating" [ngClass]="{'is-empty' :education.description === ''}">
									<label class="control-label">Description</label>
									<textarea class="form-control" placeholder="" name="description-{{index}}" [(ngModel)]="educations[index].description">
									</textarea>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<a href clickStopPropagation (click)="addEducation()" class="add-field">
									<svg class="olymp-plus-icon"><use xlink:href="/assets/icons/icons.svg#olymp-plus-icon"></use></svg>
									<span>Add Education Field</span>
								</a>
							</div>
						</div>

					</form>
				</div>
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Your Employment History</h6>
				</div>
				<div class="ui-block-content">
					<form>
						<div class="row" *ngFor="let employment of employments let index = index;">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="form-group label-floating" [ngClass]="{'is-empty' :employment.title === ''}">
									<label class="control-label">Title or Place</label>
									<input class="form-control" placeholder="" type="text" name="title-{{index}}" [(ngModel)]="employments[index].title">
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="form-group label-floating" [ngClass]="{'is-empty' :employment.time === ''}">
									<label class="control-label">Period of Time</label>
									<input class="form-control" placeholder="" type="text" name="time-{{index}}" [(ngModel)]="employments[index].time">
								</div>
							</div>

							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group label-floating" [ngClass]="{'is-empty' :employment.description === ''}">
									<label class="control-label">Description</label>
								<textarea class="form-control" placeholder="" name="description-{{index}}" [(ngModel)]="employments[index].description">
								</textarea>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<a href clickStopPropagation (click)="addEmployment()" class="add-field">
									<svg class="olymp-plus-icon"><use xlink:href="/assets/icons/icons.svg#olymp-plus-icon"></use></svg>
									<span>Add Employment Field</span>
								</a>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<button class="btn btn-secondary btn-lg full-width">Cancel</button>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<button class="btn btn-primary btn-lg full-width" (click)="updateEducationsAndEmployments()">Save all Changes</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>

		<!-- Account Profile Sidebar -->
    <div class="col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-xs-12 responsive-display-none">
      <app-account-sidebar-large></app-account-sidebar-large>
    </div>
    
    <!-- ... end Account Profile Sidebar -->
	</div>
</div>