<div class="main-header">
	<div class="content-bg-wrap bg-group">
		<!-- <div class="content-bg bg-group"></div> -->
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto col-md-8 col-sm-12 col-xs-12">
				<div class="main-header-content">
					<h1>Welcome to Circles!</h1>
					<p>
						Circles is the place where you can reach out to your community, 
						connect and talk about subjects, host live seminars, have a live in studio 
						concert for your fans, teach a how-to class, have a business meeting. 
						The possibilities are endless and it’s all interactive! Not only can you live 
						comments and questions through the chat but circle participants can have two 
						way open conversations!
					</p>

					<p>
						So, create your first circle, invite people to join it and start sharing your 
						thoughts and ideas
					</p>
				</div>
			</div>
		</div>
	</div>

	<img class="img-bottom" src="/assets/img/forums-bottom.png" alt="friends">
</div>