<div class="main-header">
	<div class="content-bg-wrap bg-group">
		<!-- <div class="content-bg bg-group"></div> -->
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 m-auto col-md-8 col-sm-12 col-xs-12">
				<div class="main-header-content">
					<h1>Welcome to the Forums!</h1>
					<p>Here in the forums you’ll be able to easily create and manage categories and topics to share with the community!
						We included some of the most used topics, like music, comics, movies, and community, each one with a cool
						and customizable illustration so you can have fun with them!
					</p>
				</div>
			</div>
		</div>
	</div>

	<img class="img-bottom" src="/assets/img/forums-bottom.png" alt="friends">
</div>