<!-- Top Header -->

<div class="container">
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb">
						<img src="/assets/img/top-header1.jpg" alt="nature">
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col-lg-5 col-md-5 ">
								<ul class="profile-menu">
									<li>
										<a [routerLink]="['/profile', username]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Timeline</a>
									</li>
									<li>
										<a [routerLink]="['/profile', username, 'about']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">About</a>
									</li>
									<li>
										<a [routerLink]="['/profile', username, 'friends']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Friends</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-5 ml-auto col-md-5">
								<ul class="profile-menu">
									<li>
										<a [routerLink]="['/profile', username, 'photos']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Photos</a>
									</li>
									<li>
										<a [routerLink]="['/profile', username, 'videos']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Videos</a>
									</li>
									<li>
										<div class="more">
											<svg class="olymp-three-dots-icon"><use xlink:href="/assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
											<ul class="more-dropdown more-with-triangle">
												<li>
													<a href="#">Report Profile</a>
												</li>
												<li>
													<a href="#">Block Profile</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<div class="control-block-button">
							<a class="btn btn-control bg-blue" *ngIf="!this.showProfileControls && this.showFriendRequestControls" (click)="sendFriendRequest()">
								<svg class="olymp-happy-face-icon"><use xlink:href="/assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
							</a>

							<a href="#" class="btn btn-control bg-purple" *ngIf="!this.showProfileControls">
								<svg class="olymp-chat---messages-icon"><use xlink:href="/assets/icons/icons.svg#olymp-chat---messages-icon"></use></svg>
							</a>

							<div class="btn btn-control bg-primary more" *ngIf="this.showProfileControls">
								<svg class="olymp-settings-icon"><use xlink:href="/assets/icons/icons.svg#olymp-settings-icon"></use></svg>

								<ul class="more-dropdown more-with-triangle triangle-bottom-right">
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Profile Photo</a>
									</li>
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Header Photo</a>
									</li>
									<li>
										<a href="#">Account Settings</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="top-header-author">
						<a href="#" class="author-thumb">
							<img [src]="image" alt="author">
						</a>
						<div class="author-content">
							<a href="#" class="h4 author-name">{{displayName}}</a>
							<div class="country">Islamabad, Pakistan</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Top Header -->
