<div class="container">
    <div class="row">
      <div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12">
        <div class="ui-block">
          <div class="ui-block-title">
            <h6 class="title">Ads Manager</h6>
          </div>
          <div class="ui-block-content">
            <p>This is Ads Manager.</p>
          </div>
        </div>
      </div>
  
      <!-- Account Page Profile Sidebar -->
      <div class="col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-xs-12 responsive-display-none">
        <app-account-sidebar-page-large></app-account-sidebar-page-large>
      </div>
      
      <!-- ... end Account Page Profile Sidebar -->
  
    </div>
  </div>