<div class="container">
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<div class="h6 title">Rock Band’s Events</div>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/assets/icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">

				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">UPCOMING EVENTS 2018</h6>
				</div>

				<table class="event-item-table">

					<tbody>
						<tr class="event-item">

							<td class="upcoming">
								<div class="date-event">

									<svg class="olymp-small-calendar-icon"><use xlink:href="/assets/icons/icons.svg#olymp-small-calendar-icon"></use></svg>

									<span class="day">28</span>
									<span class="month">may</span>
								</div>
							</td>
							<td class="author">
								<div class="event-author inline-items">
									<div class="author-thumb">
										<img src="/assets/img/avatar66-sm.jpg" alt="author">
									</div>
									<div class="author-date">
										<a href="#" class="author-name h6">Rock Band in Gotham</a>
										<time class="published" datetime="2017-03-24T18:18">Saturday at 9:00pm</time>
									</div>
								</div>
							</td>
							<td class="location">
								<div class="place inline-items">
									<svg class="olymp-add-a-place-icon"><use xlink:href="/assets/icons/icons.svg#olymp-add-a-place-icon"></use></svg>
									<span>Gotham Bar</span>
								</div>
							</td>
							<td class="description">
								<p class="description">We’ll be playing in the Gotham Bar in May. Come and have a great time with us! Entry: $12</p>
							</td>
							<td class="users">
								<ul class="friends-harmonic">
									<li>
										<a href="#">
											<img src="/assets/img/friend-harmonic5.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="#">
											<img src="/assets/img/friend-harmonic10.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="#">
											<img src="/assets/img/friend-harmonic7.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="#">
											<img src="/assets/img/friend-harmonic8.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="#">
											<img src="/assets/img/friend-harmonic2.jpg" alt="friend">
										</a>
									</li>
									<li>
										<a href="#" class="all-users">+24</a>
									</li>

									<li class="with-text">
										Coming
									</li>
								</ul>
							</td>
							<td class="add-event">
								<button href="#" class="btn btn-breez btn-sm">Add to Calendar</button>
							</td>

						</tr>
					</tbody>
				</table>

				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">PAST EVENTS</h6>
				</div>

				<div class="no-past-events">
					<svg class="olymp-month-calendar-icon"><use xlink:href="/assets/icons/icons.svg#olymp-month-calendar-icon"></use></svg>
					<span>There are no past events <br/>to show</span>
				</div>
			</div>
		</div>
	</div>
</div>